@import '../../scss/abstracts/variables';

.c-card{
    background-color: $color-white;
    max-width: 350px;
    padding: $spacing-lg;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

    &__title{
        color: $color-primary;
        margin: $spacing-sm 0;
    }

    &__button--accent{
        background-color: $color-accent;
        color: $color-white;
        border: none;
        padding: $spacing-sm $spacing-md;
        border-radius: 6px;
    }
}